HELP.md
target/
out/
!**/src/main/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/src/main/resources/static/css/
/src/main/resources/static/css/app.b7a10c7e.css
/src/main/resources/static/css/chunk-9e6b4076.69e27815.css
/src/main/resources/static/img/
/src/main/resources/static/js/
/src/main/resources/static/favicon.ico
/src/main/resources/static/index.html
/.mvn/
/.mvn/wrapper/
/.mvn/wrapper/maven-wrapper
/.mvn/wrapper/maven-wrapper.properties
/.mvn/wrapper/MavenWrapperDownloader.java

